<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2">Login</h4>
      </header>
      <article class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="" formControlName="name"/>
          </div>
          <!-- form-group end.// -->

          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" formControlName="password"/>
          </div>
          <!-- form-group end.// -->
          <div class="form-group">
            <a href="/shopper/home" class="btn btn-dark btn-block" role="button"
              >Login</a
            >
          </div>
          <!-- form-group// -->
        </form>
      </article>
      <div class="border-top card-body text-center">
        Don't have an account? <a href="/registration">Register</a>
      </div>
    </div>
  </div>
</div>
