<app-admin-header></app-admin-header>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2">Add Product</h4>
      </header>
      <article class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="email" class="form-control" placeholder="" formControlName="name"/>
          </div>
          <!-- form-group end.// -->
          <div class="form-group">
            <label>Description</label>
            <input type="description" class="form-control" placeholder="" formControlName="description"/>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="price" class="form-control" placeholder="" formControlName="price"/>
          </div>
          <div class="form-group">
            <label>Discount</label>
            <input type="discount" class="form-control" placeholder="" formControlName="discount"/>
          </div>
          <div class="form-group">
            <label>Delivery Charge</label>
            <input type="delivery" class="form-control" placeholder="" formControlName="deliveryCharge"/>
          </div>
          <div class="form-group">
            <label>Inventory</label>
            <input type="inventory" class="form-control" placeholder="" formControlName="inventory"/>
          </div>
          <!-- form-group end.// -->
          <div class="form-group">
            <button type="submit" [disabled]="!productForm.valid" class="btn btn-dark btn-block">Add</button>
          </div>
          <!-- form-group// -->
        </form>
      </article>
    </div>
  </div>
</div>
