<app-admin-header></app-admin-header>
<div class="container">
  <div *ngIf="products" class="row">
    <div *ngFor="let product of products">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">{{ product.name }}</div>
          <div class="panel-body">
            <p>Price: {{ product.price }}</p>
          </div>
          <div class="panel-footer">
            <button
              type="button"
              class="btn btn-primary btn-md"
              onClick="location.href='shopper/product' "
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
