<app-shopper-header></app-shopper-header>
<div *ngIf="product" class="row h-100 justify-content-center align-items-center">
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <u>{{product.name}}</u>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.description}}</h5>
      <p class="card-text">Discount: {{product.discount}}</p>
      <p class="card-text">Delivery: {{product.deliveryCharges}}</p>
      <p class="card-text">Inventory: {{product.quantityInInventory}}</p>
    </div>
    <div class="card-footer bg-transparent text-center">{{product.price}}</div>
    <div class="card-footer bg-transparent text-center">
      <button
        type="button"
        class="btn btn-primary btn-md"
        
      >
        Add
      </button>
    </div>
  </div>
</div>
